<div class="evaluate">
  <!-- Search form -->
  <div class=" evaluate__search md-form">
    <span
      class="evaluate__search__icon fa fa-search form-control-feedback"
    ></span>
    <input
      type="text"
      class="evaluate__search__ip form-control"
      placeholder="Nhập số điện thoại - Mã đơn hàng - tên "
    />
  </div>

  <div class="evaluate__info">
    <div class="evaluate__info__left">
      <div class="evaluate__info__left__title">Khung đánh giá</div>
      <p class="evaluate__info__left__label">
        Đánh giá thái độ của nhân viên giao nhận:
      </p>
      <img
        class="evaluate__info__left__icon"
        src="assets/img/star1.svg"
        alt=""
      />
      <p class="evaluate__info__left__label">
        Đánh giá chất lượng vận chuyển hàng hóa:
      </p>
      <img
        class="evaluate__info__left__icon"
        src="assets/img/star2.svg"
        alt=""
      />
      <p class="evaluate__info__left__label">Bình luận của bạn:</p>
      <textarea class="evaluate__info__left__textarea"></textarea>

      <div class="evaluate__info__btn" style="margin-top: 40px">
        Đăng nhận xét
      </div>
    </div>
    <div class="evaluate__info__right">
      <div class="evaluate__info__right__title">Thông tin đơn hàng</div>
      <div class="evaluate__info__right__row">
        <div class="evaluate__info__right__row__label">Tên sản phẩm:&nbsp;</div>
        <div class="evaluate__info__right__row__text">
          Bàn phím cơ Akko 3072
        </div>
      </div>

      <div class="evaluate__info__right__row">
        <div class="evaluate__info__right__row__label">Giá trị:&nbsp;</div>
        <div class="evaluate__info__right__row__text">1.690.000 VNĐ</div>
      </div>

      <div class="evaluate__info__right__row">
        <div class="evaluate__info__right__row__label">Khách hàng:&nbsp;</div>
        <div class="evaluate__info__right__row__text">Yasuo</div>
      </div>

      <div class="evaluate__info__right__line"></div>

      <div class="evaluate__info__right__row">
        <div class="evaluate__info__right__row__label">
          Nơi nhận hàng:&nbsp;
        </div>
        <div class="evaluate__info__right__row__text">
          KTX khu B, Linh Trung, Thủ Đức
        </div>
      </div>

      <div class="evaluate__info__right__row">
        <div class="evaluate__info__right__row__label">
          Nơi giao hàng:&nbsp;
        </div>
        <div class="evaluate__info__right__row__text">
          36 Lê Thánh Tôn, quận 1, TP HCM
        </div>
      </div>

      <div class="evaluate__info__right__row">
        <div class="evaluate__info__right__row__label">Thời gian:&nbsp;</div>
        <div class="evaluate__info__right__row__text">16h20ph, 05/11/2020</div>
      </div>

      <div class="evaluate__info__right__row">
        <div class="evaluate__info__right__row__label">
          Nhân viên giao hàng:&nbsp;
        </div>
        <div class="evaluate__info__right__row__text">Nguyễn Văn Vở</div>
      </div>

      <div class="evaluate__info__btn" style="margin-top: 63px">Xem thêm</div>
    </div>
  </div>
</div>
