<div class="vehicle">
  <div class="vehicle__top">
    <div class="vehicle__top__left">
      <div class="vehicle__top__left__search">
        <div class="vehicle__top__left__search__gr  has-search">
          <span
            class="vehicle__top__left__search__gr__icon fa fa-search form-control-feedback"
          ></span>
          <input type="text" class="form-control" placeholder="Tìm xe bằng ID, Tên..." />
        </div>
      </div>
      <div class="vehicle__top__left__amount">
        <div class="vehicle__top__left__amount__title">
          Số lượng phương tiện
        </div>
        <div class="vehicle__top__left__amount__row">
          <div class="vehicle__top__left__amount__row__label">Số xe máy:</div>
          <div class="vehicle__top__left__amount__row__number">1</div>
        </div>

        <div class="vehicle__top__left__amount__row">
          <div class="vehicle__top__left__amount__row__label">Số xe tải:</div>
          <div class="vehicle__top__left__amount__row__number">2</div>
        </div>

        <div class="vehicle__top__left__amount__row">
          <div class="vehicle__top__left__amount__row__label">Khác:</div>
          <div class="vehicle__top__left__amount__row__number">0</div>
        </div>
      </div>
      <div class="vehicle__top__left__checked">
        <div class="vehicle__top__left__checked__row">
          <img src="assets/img/icon-checked.svg" alt="" />
          <span>Xe máy</span>
        </div>
        <div class="vehicle__top__left__checked__row">
          <img src="assets/img/icon-checked.svg" alt="" />
          <span>Xe tải</span>
        </div>
      </div>
    </div>

    <div class="vehicle__top__right">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">
              <input type="checkbox" />
            </th>
            <th scope="col">Mã xe</th>
            <th scope="col">Tên xe</th>
            <th scope="col">Biển số</th>
            <th scope="col">Loại xe</th>
            <th scope="col">Sức chứa(kg/m3)</th>
            <th scope="col">Nhiên liệu(km/l)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>XE001</td>
            <td>Xe bán tải AZ012</td>
            <td>61L1-739.50</td>
            <td>Xe tải</td>
            <td>23 / 0.3</td>
            <td>46.6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>XE001</td>
            <td>Xe tải AZ095</td>
            <td>61L1-739.50</td>
            <td>Xe tải</td>
            <td>23 / 0.3</td>
            <td>46.6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>XE001</td>
            <td>Xe bán tải AZ012</td>
            <td>61L1-739.50</td>
            <td>Xe máy</td>
            <td>23 / 0.3</td>
            <td>46.6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>XE001</td>
            <td>Xe bán tải AZ862</td>
            <td>61L1-739.50</td>
            <td>Xe máy</td>
            <td>23 / 0.3</td>
            <td>46.6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>XE001</td>
            <td>Xe bán tải AZ012</td>
            <td>61L1-739.50</td>
            <td>Xe tải</td>
            <td>23 / 0.3</td>
            <td>46.6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>XE001</td>
            <td>Xe bán tải AZ082</td>
            <td>61L1-739.50</td>
            <td>Xe máy</td>
            <td>23 / 0.3</td>
            <td>46.6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>XE001</td>
            <td>Xe bán tải AZ012</td>
            <td>61L1-739.50</td>
            <td>Xe tải</td>
            <td>23 / 0.3</td>
            <td>46.6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>XE001</td>
            <td>Xe bán tải AZ012</td>
            <td>61L1-739.50</td>
            <td>Xe máy</td>
            <td>23 / 0.3</td>
            <td>46.6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>XE001</td>
            <td>Xe bán tải AZ012</td>
            <td>61L1-739.50</td>
            <td>Xe tải</td>
            <td>23 / 0.3</td>
            <td>46.6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>XE001</td>
            <td>Xe bán tải AZ012</td>
            <td>61L1-739.50</td>
            <td>Xe tải</td>
            <td>23 / 0.3</td>
            <td>46.6</td>
          </tr>

          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>XE001</td>
            <td>Xe bán tải AZ012</td>
            <td>61L1-739.50</td>
            <td>Xe tải</td>
            <td>23 / 0.3</td>
            <td>46.6</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>XE001</td>
            <td>Xe bán tải AZ012</td>
            <td>61L1-739.50</td>
            <td>Xe tải</td>
            <td>23 / 0.3</td>
            <td>46.6</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="vehicle__bottom">
    <div class="vehicle__bottom__btn">Tiếp theo</div>
  </div>
</div>
