<div class="nav-bar">
  <ng-container *ngFor="let item of STEP; let i = index">
    <a (click)="select(i)" routerLink="{{ item.link }}" class="nav-bar__item">
      <div
        class="nav-bar__item__round"
        [ngClass]="{ active: selectedIndex == i }"
      >
        {{ item.number }}
      </div>
      <div class="nav-bar__item__info">
        <div class="nav-bar__item__info__name">{{ item.name }}</div>
        <div class="nav-bar__item__info__sub">{{ item.sub }}</div>
      </div>
    </a>
    <div [ngClass]="{ hide: item.isHide }" class="nav-bar__line"></div>
  </ng-container>
</div>
