.nav-bar {
  height: 10vh;
  width: 100%;
  background-color: #2c343e;
  color: #eeeeee;
  padding: 0 20px;
  display: flex;
  align-items: center;
  padding-left: 30px;

  a {
    transition: 0.3s all ease;
    color: white;
    &:hover,
    &:focus {
      text-decoration: none !important;
      outline: none !important;
      box-shadow: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__round {
      font-size: 24px;
      border-radius: 50%;
      background: #8b8b8b;
      padding: 0 13px;
    }

    &__info {
      margin-left: 10px;
      &__name {
        font-weight: 600;
        font-size: 18px;
      }

      &_sub {
        font-size: 14px;
      }
    }
  }

  &__line {
    margin: 0 20px;
    width: 40px;
    height: 2px;
    background: #d3d3d3;
  }
}

.hide {
  display: none;
}

.active {
  background: #4684e6;
}