<div class="track">
  <!-- Information of tracking order  -->
  <div class="track__top">
    <div class="track__top__info">
      <div class="track__top__info__title">
        Theo dõi đơn <span> #SHL001</span>
      </div>

      <div class="track__top__info__row">
        <div class="track__top__info__row__line">
          <div class="track__top__info__row__line__label">Địa điểm:&nbsp;</div>
          <div
            class="track__top__info__row__line__text"
            style="margin-right: 50px"
          >
            121A Linh Đông, quận 5, TP HCM
          </div>
        </div>

        <div class="track__top__info__row__line">
          <div class="track__top__info__row__line__label">
            Ngày nhận dự kiến:&nbsp;
          </div>
          <div class="track__top__info__row__line__text">thứ 3, 30/10/2020</div>
        </div>
      </div>

      <div class="track__top__info__row">
        <div class="track__top__info__row__line">
          <div class="track__top__info__row__line__label">
            Người giao:&nbsp;
          </div>
          <div
            class="track__top__info__row__line__text"
            style="margin-right: 45px"
          >
            Long shipper(SĐT: 0399686868)
          </div>
        </div>

        <div class="track__top__info__row__line">
          <div class="track__top__info__row__line__label">Tổng phí:&nbsp;</div>
          <div class="track__top__info__row__line__text">
            <strong>86.000 VNĐ</strong>
          </div>
        </div>
      </div>
    </div>

    <a routerLink="/conversation" class="track__top__btn-gr">
      <div class="track__top__btn-gr__contact">
        <img src="/assets/img/icon-mess.svg" alt="" />
        Liên hệ NV <br />
        vận chuyển
      </div>
      <div class="track__top__btn-gr__detail">
        <img src="/assets/img/icon-detail.svg" alt="" />

        Chi tiết <br />
        đơn hàng
      </div>
    </a>
  </div>

  <!-- Tracking status -->
  <div class="track__line">
    <div class="track__line__title">
      Trạng thái: Đang vận chuyển | 11:44 thứ 3, 27-10-2020
    </div>
    <img class="track__line__status" src="assets/img/track.svg" alt="" />
  </div>

  <!-- Tracking Detail  -->
  <div class="track__bottom">
    <!-- Card item  -->
    <div class="track__bottom__card" style="border: 2px solid #295093">
      <div class="track__bottom__card__left">
        <div class="track__bottom__card__left__time-gr">
          <div class="track__bottom__card__left__time-gr__clock">11:44</div>
          <div class="track__bottom__card__left__time-gr__date">27-10-2020</div>
        </div>
        <div class="track__bottom__card__left__status">Đang vận chuyển</div>
      </div>

      <div class="track__bottom__card__right">
        <div class="track__bottom__card__right__address">
          Quận 2 - Hồ Chí Minh
        </div>
        <div class="track__bottom__card__right__contact">
          Liên hệ : 0399699977 - Nguyễn Thanh Thảo
        </div>
      </div>
    </div>

    <div class="track__bottom">
      <!-- Card item  -->
      <div class="track__bottom__card">
        <div class="track__bottom__card__left">
          <div class="track__bottom__card__left__time-gr">
            <div class="track__bottom__card__left__time-gr__clock">10:13</div>
            <div class="track__bottom__card__left__time-gr__date">
              27-10-2020
            </div>
          </div>
          <div class="track__bottom__card__left__status">Đóng gói</div>
        </div>

        <div class="track__bottom__card__right">
          <div class="track__bottom__card__right__address">
            Quận 3, TP Hồ Chí Minh
          </div>
          <div class="track__bottom__card__right__contact">
            Liên hệ: 0912846417 - Nguyễn Thị Thanh Thảo
          </div>
        </div>
      </div>

      <div class="track__bottom">
        <!-- Card item  -->
        <div class="track__bottom__card">
          <div class="track__bottom__card__left">
            <div class="track__bottom__card__left__time-gr">
              <div class="track__bottom__card__left__time-gr__clock">17:00</div>
              <div class="track__bottom__card__left__time-gr__date">
                26-10-2020
              </div>
            </div>
            <div class="track__bottom__card__left__status">Đang lấy hàng</div>
          </div>

          <div class="track__bottom__card__right">
            <div class="track__bottom__card__right__address">
              Quận 10, TP Hồ Chí Minh
            </div>
            <div class="track__bottom__card__right__contact">
              Liên hệ : 0912345612 - Nguyễn Thanh Hải
            </div>
          </div>
        </div>

        <div class="track__bottom">
          <!-- Card item  -->
          <div class="track__bottom__card">
            <div class="track__bottom__card__left">
              <div class="track__bottom__card__left__time-gr">
                <div class="track__bottom__card__left__time-gr__clock">
                  11:44
                </div>
                <div class="track__bottom__card__left__time-gr__date">
                  26-10-2020
                </div>
              </div>
              <div class="track__bottom__card__left__status">
                Giao bưu cục đi nhận
              </div>
            </div>

            <div class="track__bottom__card__right">
              <div class="track__bottom__card__right__address">
                Quận 11, TP Hồ Chí Minh
              </div>
              <div class="track__bottom__card__right__contact">
                Liên hệ : 0912665612 - Phan Thanh Tùng
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
