<div class="vehicle">
  <div class="vehicle__top">
    <div class="vehicle__top__left">
      <div class="vehicle__top__left__search">
        <div class="vehicle__top__left__search__gr has-search">
          <span
            class="vehicle__top__left__search__gr__icon fa fa-search form-control-feedback"
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Tìm xe bằng ID, Tên SP..."
          />
        </div>
      </div>

      <div class="vehicle__top__left__btn">
        <div class="vehicle__top__left__btn__update">Cập nhập</div>
        <div class="vehicle__top__left__btn__upload">Tải lên</div>
      </div>
      

      <div class="vehicle__top__left__amount">
        <div class="vehicle__top__left__amount__title">Số lượng đơn hàng</div>
        <div class="vehicle__top__left__amount__row">
          <div class="vehicle__top__left__amount__row__label">Số đơn giao:</div>
          <div class="vehicle__top__left__amount__row__number">10</div>
        </div>

        <div class="vehicle__top__left__amount__row">
          <div class="vehicle__top__left__amount__row__label">Số đơn nhận:</div>
          <div class="vehicle__top__left__amount__row__number">89</div>
        </div>
      </div>
      <div class="vehicle__top__left__checked">
        <div class="vehicle__top__left__checked__row">
          <img src="assets/img/icon-checked.svg" alt="" />
          <span>Xe máy</span>
        </div>
        <div class="vehicle__top__left__checked__row">
          <img src="assets/img/icon-checked.svg" alt="" />
          <span>Xe tải</span>
        </div>
      </div>
    </div>

    <div class="vehicle__top__right">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">
              <input type="checkbox" />
            </th>
            <th scope="col">Mã</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Loại hình</th>
            <th scope="col">Ưu tiên</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>SP001</td>
            <td>Bình đun siêu tốc</td>
            <td>KTX khu B, ĐHQG TP.Hồ Chí Minh</td>
            <td>Giao</td>
            <td>1.0</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>SP002</td>
            <td>Bình đun siêu tốc</td>
            <td>KTX khu A, ĐHQG TP.Hồ Chí Minh</td>
            <td>Giao</td>
            <td>1.0</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>SP003</td>
            <td>Bình đun siêu tốc</td>
            <td>61L1-739.50</td>
            <td>Nhận</td>
            <td>1.0</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>SP004</td>
            <td>Bình đun siêu tốc</td>
            <td>61L1-739.50</td>
            <td>Nhận</td>
            <td>1.0</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>SP002</td>
            <td>Bình đun siêu tốc</td>
            <td>KTX khu A, ĐHQG TP.Hồ Chí Minh</td>
            <td>Giao</td>
            <td>1.0</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>SP002</td>
            <td>Bình đun siêu tốc</td>
            <td>KTX khu A, ĐHQG TP.Hồ Chí Minh</td>
            <td>Giao</td>
            <td>1.0</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>SP004</td>
            <td>Bình đun siêu tốc</td>
            <td>61L1-739.50</td>
            <td>Nhận</td>
            <td>1.0</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>SP004</td>
            <td>Bình đun siêu tốc</td>
            <td>61L1-739.50</td>
            <td>Nhận</td>
            <td>1.0</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>SP004</td>
            <td>Bình đun siêu tốc</td>
            <td>61L1-739.50</td>
            <td>Nhận</td>
            <td>1.0</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>SP004</td>
            <td>Bình đun siêu tốc</td>
            <td>61L1-739.50</td>
            <td>Nhận</td>
            <td>1.0</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>SP004</td>
            <td>Bình đun siêu tốc</td>
            <td>61L1-739.50</td>
            <td>Nhận</td>
            <td>1.0</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" /></th>
            <td>SP004</td>
            <td>Bình đun siêu tốc</td>
            <td>61L1-739.50</td>
            <td>Nhận</td>
            <td>1.0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="vehicle__bottom">
    <div class="vehicle__bottom__btn">Tiếp theo</div>
  </div>
</div>
