.vehicle {
  &__top {
    display: flex;
    width: 100%;

    &__left {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__btn {
        display: flex;
        margin-top: 20px;
        width: 72%;
        justify-content: space-between;
        
        &__update, &__upload{
          cursor: pointer;
          background-color: #295093;
          color: white;
          padding: 5px 12px;
          border-radius: 5px;
          min-width: 80px;
          text-align: center;
        }
      }

      &__amount {
        margin-top: 30px;
        width: 72%;
        display: flex;
        flex-direction: column;

        &__title {
          width: 100%;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 8px;
        }

        &__row {
          display: flex;
          justify-content: space-between;
        }
      }

      &__checked {
        width: 72%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__row {
          margin-bottom: 10px;

          img {
            cursor: pointer;
            width: 20px;
            height: 20px;
          }

          span {
            margin-left: 10px;
          }
        }
      }

      &__search {
        background-color: #295093;
        width: 100%;

        input {
          color: white;
          background-color: #295093;
          border: none;
          padding: 10px 5px 10px 35px;
          height: 50px;
        }

        ::-webkit-input-placeholder {
          /* WebKit, Blink, Edge */
          color: #c6c6c6;
        }

        &__gr {
          position: relative;

          &__icon {
            margin-left: 10px;
            color: #c6c6c6;
            position: absolute;
            top: 40%;
          }
        }
      }
    }

    &__right {
      width: 80%;

      table {
        width: 100%;
      }
    }
  }

  &__bottom {
    width: 100%;
    height: 68px;
    align-self: flex-end;
    background-color: #051838;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;

    &__btn {
      cursor: pointer;
      border-radius: 5px;
      width: fit-content;
      color: #ffffff;
      padding: 8px 25px;
      background-color: #295093;
      margin-right: 25px;
    }
  }
}
